body {
    margin-bottom: 200px;
}

.limited {
    font-family: sans-serif;
    max-width: 800px;
    margin: auto;
    margin-top: 10px;
}

.thread {
    border-left: 8px solid black;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.post {
    text-align: left;
}

.post > .post {
    border-left: 8px solid black;
    margin-left: 10px;
    padding: 10px;
    padding-right: 0;
    margin-bottom: 30px;
    margin-top: 20px;
}

.post, .thread {
    padding-left: 10px;
}

.line {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
}

.line > span {
    padding-left: 10px;
    margin-left: 10px;
}

.info + .info {
    border-left: 1px solid #DDDDDD;
}

textarea {
    width: 100%;
    resize: none;
}

a {
   color: blue;
   text-decoration: underline;
   cursor: pointer;
}
